/* app css stylesheet */

a.plant {
  text-decoration: none;
}

.plant-details md-card-title-text {
  margin-left: 15px;
}

.plant-details .md-headline {
  margin-bottom: 10px;
}

.plant-details .md-subhead {
  margin: 2px 15px;
}